
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <link href="~/Content/Kaynak/kartlar.css" rel="stylesheet">
</head>
<body>
    <br /><br />
    <!-- Team -->
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">@dil.HomeTexts.takimimiz</h5>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="~/Uploads/UsersPhoto/yasar.jpeg" alt="card image"></p>
                                        <h4 class="card-title">Beyza KARACA</h4>
                                        <p class="card-text">
                                            1-A<br />
                                            B161210367
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">@dil.HomeTexts.iletisimbilgi</h4>
                                        <p class="card-text"><br />@dil.HomeTexts.bolum<br /> @dil.HomeTexts.sinif<br /><br />byzkrcbyz@gmail.com<br /><br /><br />Sakarya,@dil.HomeTexts.ulke</p>
                                        <ul class="list-inline">
                                          
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/beyza-karaca-3a935a157">
                                                    <i class="fa fa-linkedin-square"></i>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="~/Uploads/UsersPhoto/limon.jpeg" alt="card image"></p>
                                        <h4 class="card-title">Ece Nur ARSLAN</h4>
                                        <p class="card-text">
                                            1-A<br />
                                            B171210061
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">@dil.HomeTexts.iletisimbilgi</h4>
                                        <p class="card-text"><br />@dil.HomeTexts.bolum<br /> @dil.HomeTexts.sinif<br /><br />ecenur.arslan@gmail.com<br /><br /><br />Istanbul,@dil.HomeTexts.ulke</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/ecenurarslann">
                                                    <i class="fa fa-facebook-square"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/ece-nur-arslan-7340a7173">
                                                    <i class="fa fa-linkedin-square"></i>
                                                </a>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="~/Uploads/UsersPhoto/tursu.jpeg" alt="card image"></p>
                                        <h4 class="card-title">Berke VAROL</h4>
                                        <p class="card-text">
                                            1-A<br />
                                            B161210022
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">@dil.HomeTexts.iletisimbilgi</h4>
                                        <p class="card-text"><br />@dil.HomeTexts.bolum<br />@dil.HomeTexts.sinif<br /><br />berkevaroll@gmail.com<br /><br /><br />Afyonkarahisar,@dil.HomeTexts.ulke</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="">
                                                    <i class="fa fa-facebook-square" href="https://facebook.com/berkevaroll"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/berke-varol-082174139">
                                                    <i class="fa fa-linkedin-square"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
            </div>
        </div>
    </section>
</body>
