
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<br />
<!-- Blog Post -->
<div class="card mb-4">
    <div class="card-footer text-muted">
        <h2 class="card-title">@dil.HomeTexts.nedir</h2>
        <p class="card-text">@dil.HomeTexts.nedirmetin</p>

    </div>

</div>
<!-- Blog Post -->
<div class="card mb-4">

    <div class="card-body">
        <h2 class="card-title">@dil.HomeTexts.altsahiplenme</h2>
        <p class="card-text">@dil.HomeTexts.sahiplenmetin</p>
        <a href="/Home/Sahiplenme/" class="btn btn-primary">@dil.HomeTexts.sahiplenbuton &rarr;</a>
    </div>
</div>
<!-- Blog Post -->
<div class="card mb-4">

    <div class="card-body">
        <h2 class="card-title">@dil.HomeTexts.altsahiplendirme</h2>
        <p class="card-text">@dil.HomeTexts.sahiplendirmetin</p>
        <a href="/Home/Sahiplendirme/" class="btn btn-primary">@dil.HomeTexts.sahiplendirbuton&rarr;</a>
    </div>
</div>

<!-- Blog Post -->
<div class="card mb-4">

    <div class="card-body">
        <h2 class="card-title">@dil.HomeTexts.altblog</h2>
        <p class="card-text">@dil.HomeTexts.blogmetin</p>
        <a href="/Home/Forum/" class="btn btn-primary">@dil.HomeTexts.blogbuton &rarr;</a>
    </div>
</div>




