@model PETNET.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>@dil.HomeTexts.sil</h2>

<h5>@dil.HomeTexts.siluyar</h5>

<div>
    <h4>@dil.HomeTexts.uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(@dil.HomeTexts.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Role1)
        </dd>

        <dt>
            @Html.DisplayName(@dil.HomeTexts.kullaniciadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayName("EMAİL")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName(@dil.HomeTexts.isimsoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSurname)
        </dd>

        <dt>
            @Html.DisplayName(@dil.HomeTexts.fotograf)
        </dt>

        <dd>
            <img width="75" src="@Model.Photo" />
        </dd>

        <dt>
            @Html.DisplayName(@dil.HomeTexts.sehir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayName("BLOGGER")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bloggers)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn btn-default" /> |
            @Html.ActionLink(@dil.HomeTexts.geri, "Index")
        </div>
    }
</div>
