<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PETNET</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/Kaynak/startbootstrap-blog-home-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/Kaynak/startbootstrap-blog-home-gh-pages/css/blog-home.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index/">@dil.HomeTexts.petnet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Sahiplenme/">@dil.HomeTexts.sahiplenme</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Forum/">@dil.HomeTexts.forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Iletisim/">@dil.HomeTexts.iletisim</a>
                    </li>

                    @if (Session["userid"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Sahiplendirme/">@dil.HomeTexts.sahiplendirme</a>
                        </li>
                        @*<li class="nav-item">
                <a class="nav-link" href="/Home/İletisim/">İLETİŞİM</a>
            </li>*@
                        if (Convert.ToInt32(Session["roleid"]) == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Index" target="_blank">@dil.HomeTexts.adminpanel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/User/Index/@Session["userid"]"><b>@Session["username"].ToString()</b></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/User/Logout/"><b>(X)</b> </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/User/Index/@Session["userid"]"><b>@Session["username"].ToString()</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/User/Logout/">@dil.HomeTexts.cikis</a>
                            </li>
                        }
                    }
                    else
                    {

                        <li class="nav-item">
                            <a class="nav-link" href="/User/Create/">@dil.HomeTexts.kaydol</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/User/Login/">@dil.HomeTexts.girisyap</a>
                        </li>

                    }

                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                
                @RenderBody()
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <div class="card my-4">
                    <h5 class="card-header">@dil.HomeTexts.bagismi</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="http://www.wwf.org.tr/sizneyapabilirsiniz/ba_yapn/">WWF</a>
                                    </li>
                                    <li>
                                        <a href="https://fonzip.com/haytap/bagis">HAYTAP</a>
                                    </li>
                                    <li>
                                        <a href="https://www.temizmama.com/barinaklara-bagis">TEMİZMAMA</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="http://haciko.org.tr/">HAÇİKO</a>
                                    </li>
                                    <li>
                                        <a href="https://dost.org.tr/bagis/">DOST.ORG</a>
                                    </li>
                                    <li>
                                        <a href="http://www.haykonfed.org/2017/02/06/haykonfed-bagis-bilgileri/">HAYKONFED</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">@dil.HomeTexts.haklar</h5>
                    <div class="card-body">
                        @dil.HomeTexts.haklartext
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <ul>
            <li>@Html.ActionLink("TR", "index", new { Language = "tr" })</li>
            <li>@Html.ActionLink("EN", "index", new { Language = "en" })</li>
        </ul>
        <div class="container">
            <p class="m-0 text-center text-white"><b>BEYZA KARACA~ECE NUR ARSLAN~BERKE VAROL</b></p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/Kaynak/startbootstrap-blog-home-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Kaynak/startbootstrap-blog-home-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
